<h2 class="crypto-title">{{model.details.name}} Details</h2>

<p class="crypto-subinfo">
  <b>Price:</b> ${{model.details.priceUsd}} &nbsp;|&nbsp;
  <b>Change:</b>
  <span class="{{if (is-negative model.details.changePercent24Hr) "crypto-change-negative" "crypto-change-positive"}}">
    {{model.details.changePercent24Hr}}%
  </span>
</p>

<div id="cryptoChart"></div>

<div class="trade-box">
  <h3>Trade {{model.details.name}}</h3>

<form id="tradeForm" {{action "handleTrade" on="submit" target=this}}>
  <label>
    {{#if buySelected}}Amount in USD:{{else}}Amount in {{model.details.symbol}}:{{/if}}
    {{input 
      type="number" 
      step=(if buySelected "1" "0.00000001") 
      min="0.00000001" 
      placeholder=(if buySelected "Enter USD amount" "Enter crypto amount") 
      value=amount 
      required="required"
    }}
  </label>

  <label>
    Trade Type:
    <select onchange={{action "updateType" value="target.value"}}>
      <option value="buy" selected={{buySelected}}>Buy</option>
      <option value="sell" selected={{sellSelected}}>Sell</option>
    </select>
  </label>

  <button type="submit">Confirm Trade</button>
</form>


  {{#if this.tradeStatus}}
    <p style="color: #2980b9;">{{this.tradeStatus}}</p>
  {{/if}}

  <hr>

  <div class="holdings-info">
    <h4>Your USD Balance: ${{this.usdBalance}}</h4>
    <h4>Your {{model.details.name}} Holdings</h4>
    <p><b>Quantity:</b> {{this.holdingAmount}} {{model.details.symbol}}</p>
    <p style="color:green;"><b>Profit:</b> ${{this.holdingProfit}}</p>
    <p style="color:red;"><b>Loss:</b> ${{this.holdingLoss}}</p>
  </div>
</div>
