<div class="dashboard-container">

  <div class="sidebar left-sidebar">
    <h3> Market Stats</h3>
    <ul class="stat-list">
      <li><strong>Total Coins:</strong> {{model.cryptos.length}}</li>
      <li style="color:green"><strong>Top Gainer:</strong> {{topGainer.name}} ({{topGainer.changePercent24Hr}}%)</li>
      <li style="color:red"><strong>Top Loser:</strong> {{topLoser.name}} ({{topLoser.changePercent24Hr}}%)</li>
    </ul>
  </div>


  <div class="main-content">
    <div class="dashboard-header">
      {{#link-to "funding" class="get-funds-button"}}Get Funds{{/link-to}}
      {{#link-to "news" class="get-funds-button"}}Crypto News{{/link-to}}
      <button {{action "logout"}} class="logout-button">Logout</button>
    </div>

    <h2>Live Crypto Dashboard</h2>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price (USD)</th>
          <th>Change (%)</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.cryptos as |crypto|}}
          <tr {{action "goToCrypto" crypto.id crypto.priceUsd crypto.changePercent24Hr}}>
            <td>
              <img class="crypto-icon" src="{{crypto.iconUrl}}" onerror="this.onerror=null;this.src='/eth.png';">
              {{crypto.name}}
            </td>
            <td>${{crypto.priceUsd}}</td>
            <td style="color:{{if (is-negative crypto.changePercent24Hr) "red" "green"}};">
              {{crypto.changePercent24Hr}}%
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="sidebar right-sidebar">
  <h3> Top 10 Trending</h3>
  <ul class="trending-list">
    {{#each topTrending as |coin|}}
      <li>
        <img src="{{coin.iconUrl}}" class="crypto-icon" onerror="this.onerror=null;this.src='/eth.png';">
        {{coin.name}} <span class="trend-change">(+{{coin.changePercent24Hr}}%)</span>
      </li>
    {{else}}
      <li>No data available</li>
    {{/each}}
  </ul>
</div>
</div>
